<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>My Media Mate</title>
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.9.0/css/bulma.min.css">
  <link rel="stylesheet" href="/Public/css/style.css">
  <link href="Public\assets\logo\M3favicon.ico" rel="shortcut icon" type="image/x-icon">
</head>

<body>
  <div>
    <header class="hero">
      <div class="hero-body">
        <img class='logo' src='../../Public/assets/logo/m3.png'>
        <br>
        <p class="title">
          My Media Mate
        </p>
        <p class="subtitle">Welcome to My Media Mate. A place to review and comment on your favorite TV shows and
          movies. </p>
      </div>
    </header>
    <nav class=" navbar-menu" style="justify-content: center;">
      {{#if loggedIn}}
      <a class="navbar-item tag is-info is-large ml-2 mr-2" href="/">Homepage</a>
      <a class="navbar-item tag is-info is-large ml-2 mr-2" href="/dashboard">My Dashboard</a>
      <a class="navbar-item tag is-info is-large ml-2 mr-2" id="logout">Logout</a>
      {{else}}
      <a class="navbar-item tag is-info is-large ml-2 mr-2" href="/login">Login</a>
      {{/if}}
    </nav>

    <main class="container container-fluid mt-5">
      {{{ body }}}
    </main>

  </div>
  <footer class="footer">
    <p>Have you ever watched a movie and asked yourself "I wonder what so-and-so would think of that" ? We have! And that is why we made My Media Mate! This is a fully customizable library that you can keep track of, plan out and even share with friends. You are able to track movies and TV shows that you have seen or want to see right on the page. Submit your review of the movie and discuss amongst other users.</p>
    <br>
    <p>Made by Kristen, Kyle, Keith and Mo</p>
  </footer>
  {{#if loggedIn}}
  <script src="/Public/JS/logout.js"></script>
  {{/if}}
</body>

</html>