<div class="card mb-6">
    <div class="card-content">
        <h2 class="title">Add to Future Watch List</h2>
        <form class="new-wishlist-form">
            <div>
                <label class="subtitle" for="wishlist-title">Movie Title:</label>
                <input class="input" type="text" id="wishlist-title" name="wishlist-title" placeholder="Title Here" />
            </div>
            <br>
            <button type="submit" class="tag is-info is-medium is-light">Create New Watch List Item</button>
        </form>
    </div>
</div>

<script src="/Public/JS/add-wishlist.js"></script>