<section>
    <div class="card text-white bg-dark mb-3" style="max-width: 18rem;">

        <a href="/dashboard">My Media Dashboard</a>
        <h2>Create New Review</h2>
        <form class="new-review-form">
            <div>
                <label for="review-title">Movie Title:</label>
                <input class="input" type="text" id="review-title" name="review-title" placeholder="Title Here" />
            </div>
            <div>
                <label for="review-body">My Review:</label>
                <input id="review-body" name="review-body" placeholder="Review Here" />
            </div>
            <button type="submit" class="button is-primary is-pulled-right">Create New Review</button>
        </form>
    </div>
</section>

<script src="/public/JS/add-review.js"></script>