<article class="media">
    <figure class="media-left">
        <p class="image is-64x64">
            <img src="https://bulma.io/images/placeholders/128x128.png">
        </p>
    </figure>
    <div class="media-content">
        <div class="content">
            <p>
                <strong>Want to remember the movies and shows you've seen?</strong>
                <br>
                You’re in the right place! With My Media Mate you can keep track of the media that you've watched
                along with your custom reviews. Never make the mistake of watching a bad movie more than once!
            </p>
        </div>
    </div>
</article>

<article class="media">
    <figure class="media-left">
        <p class="image is-64x64">
            <img src="https://bulma.io/images/placeholders/128x128.png">
        </p>
    </figure>
    <div class="media-content">
        <div class="content">
            <p>
                <strong>Never waste time choosing what to watch again!</strong>
                <br>
                Keep a running list of movie and tv shows that on your must-watch list. As you work your way through,
                remember to write a review!
            </p>
        </div>
    </div>
</article>

<footer class="footer">
    <p>Have you ever watched a movie and asked yourself "I wonder what so-and-so would think of that" ? We have! And
      that is why we made My Media Mate! This is a fully customizable library that you can keep track of, plan out and
      even share with friends. You are able to track movies and TV shows that you have seen or want to see right on the
      page. Submit your review of the movie and discuss amongst other users.</p>
    <br>
    <p>Made by Kristen, Kyle, Keith and Mo</p>
  </footer>

<script src="https://cdn.jsdelivr.net/npm/bulma-carousel@4.0.3/dist/js/bulma-carousel.min.js"></script>
<script>
    bulmaCarousel.attach('#carousel-demo', {
        slidesToScroll: 1,
        slidesToShow: 4
    });
</script>