<div>
    {{#if review}}
    {{> reviews review}}
    {{/if}}
</div>

<br>
<br>
<div>
    {{#if loggedIn}}

    <form class="comment-form">
        <div>
            <textarea class="ml-5" name="comment-body"></textarea>
        </div>

        <div>
            <button class="button ml-5 mb-5" type="submit">Add Comment</button>
        </div>

    </form>
    {{/if}}

    {{> comments review.comments}}
</div>
{{#if loggedIn}}
<script src="/Public/JS/comment.js"></script>
{{/if}}