.display-flex {
  text-align: center;
}

.container {
  border-bottom: 15px, rgb(18, 93, 255);
}

.logo {
  width: 150px;
  float: left;
  margin-right: 2%;
}

.no-button {
  margin-left: 500px;
}

.comment {
  background-color: #cfe2ee;
}

.comment-form {
  margin-bottom: 5%;
}

.comment .text {
  padding-left: 5%;
}

.comment .meta {
  font-size: 90%;
  opacity: 0.8;
  padding-left: 5%;
}

.card-content-s{
  margin-top: -190px ;
  margin-right: 0px;
  margin-bottom: 0px ;
  margin-left: 700px ;

}

.card-content-l {
  margin-top: 0px ;
  margin-right: 0px ;
  margin-bottom: 0px;
  margin-left: 280px;
}

* {
  background-image: -webkit-linear-gradient(rgb(23, 64, 247),black);
}