.display-flex {
  text-align: center;
  border-bottom: 10px, solid blue;
}

.logo {
  width: 150px;
  float: left;
  margin-right: 2%;
}

.no-button {
  margin-left: 500px;
}

.comment {
  background-color: #cfe2ee;
}

.comment-form {
  margin-bottom: 5%;
}

.comment .text {
  padding-left: 5%;
}

.comment .meta {
  font-size: 90%;
  opacity: 0.8;
  padding-left: 5%;
}

.footer
{
  text-align: center;
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 2.5rem;
}
